In [1]:
import pandas as pd 
import ipeadatapy as ip

In [ ]:
table=ip.timeseries(series='MPAS12_RESPRGPS12')
table['VALUE (R$)'].plot()

,CODE,RAW DATE,DAY,MONTH,YEAR,VALUE (R$)
DATE,,,,,,
2003-02-01,MPAS12_RESPRGPS12,2003-02-01T00:00:00-02:00,1,2,2003,-1.083670e+06
2003-03-01,MPAS12_RESPRGPS12,2003-03-01T00:00:00-03:00,1,3,2003,-1.536775e+06
2003-04-01,MPAS12_RESPRGPS12,2003-04-01T00:00:00-03:00,1,4,2003,-1.554597e+06
2003-05-01,MPAS12_RESPRGPS12,2003-05-01T00:00:00-03:00,1,5,2003,-1.810113e+06
2003-06-01,MPAS12_RESPRGPS12,2003-06-01T00:00:00-03:00,1,6,2003,-1.891525e+06
...,...,...,...,...,...,...
2024-05-01,MPAS12_RESPRGPS12,2024-05-01T00:00:00-03:00,1,5,2024,-6.102708e+07
2024-06-01,MPAS12_RESPRGPS12,2024-06-01T00:00:00-03:00,1,6,2024,-4.489903e+07
2024-07-01,MPAS12_RESPRGPS12,2024-07-01T00:00:00-03:00,1,7,2024,-2.245627e+07
2024-08-01,MPAS12_RESPRGPS12,2024-08-01T00:00:00-03:00,1,8,2024,-1.889482e+07
2024-09-01,MPAS12_RESPRGPS12,2024-09-01T00:00:00-03:00,1,9,2024,-2.624828e+07

In [11]:
table=table.query('index >= "2010-01-01"')
table['VALUE (R$)'].min()

np.float64(-61027084.29995)