In [2]:
# Importar bibliotecas
import pandas as pd
import numpy as np
from bcb import sgs
# Dados do IDP/BP - acum. 12m - US$ (milhões) (SGS/BCB)
dados_sgs = sgs.get(codes = {"valor": 24422}, start = "2021-01-01", end = "2024-11-30")
# Dados de expectativas do IPCA (Focus/BCB)
dados_focus = pd.read_csv(
  filepath_or_buffer = "https://olinda.bcb.gov.br/olinda/servico/Expectativas/versao/v1/odata/ExpectativasMercadoAnuais?%24filter=%28Indicador%20eq%20%27IPCA%27%20or%20Indicador%20eq%20%27IGP-M%27%29%20and%20Data%20ge%20%272023-01-01%27%20and%20Data%20le%20%272023-02-12%27&%24format=text/csv&%24orderby=Data%20desc",
  decimal = ","
  )

In [3]:
dados_focus

,Indicador,IndicadorDetalhe,Data,DataReferencia,Media,Mediana,DesvioPadrao,Minimo,Maximo,numeroRespondentes,baseCalculo
0,IGP-M,NaN,2023-02-10,2023,4.5840,4.5955,0.8950,2.6607,7.8000,73,0
1,IGP-M,NaN,2023-02-10,2024,4.3685,4.0650,1.1936,2.8000,9.9000,56,0
2,IGP-M,NaN,2023-02-10,2025,4.0136,3.9850,0.7051,3.0000,6.0000,50,0
3,IGP-M,NaN,2023-02-10,2026,3.8977,3.6000,0.6957,2.7900,5.5000,47,0
4,IGP-M,NaN,2023-02-10,2027,3.8798,3.8700,0.7446,2.5800,5.5000,42,0
...,...,...,...,...,...,...,...,...,...,...,...
595,IPCA,NaN,2023-01-02,2022,5.6676,5.6379,0.1180,5.5433,6.1636,40,1
596,IPCA,NaN,2023-01-02,2023,5.5072,5.4631,0.4784,4.5197,6.9300,40,1
597,IPCA,NaN,2023-01-02,2024,3.8155,3.8448,0.4013,3.0000,5.0000,36,1
598,IPCA,NaN,2023-01-02,2025,3.5731,3.5000,0.5140,3.0000,5.0000,32,1
599,IPCA,NaN,2023-01-02,2026,3.5401,3.5000,0.5367,3.0000,5.0000,31,1

In [4]:
dados_sgs.assign(variavel = "IDP")

              valor variavel
Date
2021-01-01  38830.1      IDP
2021-02-01  45111.8      IDP
2021-03-01  46666.4      IDP
2021-04-01  50173.3      IDP
2021-05-01  48949.6      IDP
2021-06-01  43533.0      IDP
2021-07-01  46549.1      IDP
2021-08-01  50691.8      IDP
2021-09-01  50263.7      IDP
2021-10-01  50022.6      IDP
2021-11-01  52720.8      IDP
2021-12-01  46440.5      IDP
2022-01-01  47080.9      IDP
2022-02-01  47777.3      IDP
2022-03-01  45332.3      IDP
2022-04-01  51768.7      IDP
2022-05-01  53901.4      IDP
2022-06-01  57702.0      IDP
2022-07-01  57034.4      IDP
2022-08-01  60576.8      IDP
2022-09-01  67313.8      IDP
2022-10-01  68393.6      IDP
2022-11-01  69906.9      IDP
2022-12-01  74606.4      IDP
2023-01-01  75508.8      IDP
2023-02-01  73429.1      IDP
2023-03-01  77208.8      IDP
2023-04-01  71005.8      IDP
2023-05-01  72825.9      IDP
2023-06-01  71914.9      IDP
2023-07-01  71619.0      IDP
2023-08-01  68619.1      IDP
2023-09-01  65215.0      IDP
2023-10-01  63830.4      IDP
2023-11-01  63954.8      IDP
2023-12-01  62441.9      IDP
2024-01-01  66581.3      IDP
2024-02-01  64558.6      IDP
2024-03-01  64095.0      IDP
2024-04-01  63246.3      IDP
2024-05-01  61012.6      IDP
2024-06-01  64917.9      IDP
2024-07-01  65228.6      IDP
2024-08-01  63901.3      IDP
2024-09-01  63378.8      IDP
2024-10-01  66025.5      IDP

Seguindo a mesma lógica, podemos criar quantas colunas forem necessárias, com novos valores ou valores modificados de colunas preexistentes. Repare que você pode usar funções lambda que fazem rerefência às colunas e retornam uma Series de valores:

In [5]:
# Criando N colunas
dados_sgs.assign(
  variavel   = "IDP",                           # com escalar
  idp_bilhao = dados_sgs["valor"] / 1000,       # atribuindo uma pandas Series
  idp_log    = lambda x: np.log(x.idp_bilhao),  # com função lambda que retorna pandas Series
  idp_lag1   = lambda x: x.valor.shift(0),
  idp_lag2   = lambda x: x.valor.shift(0),
  ).tail(3)

              valor variavel  idp_bilhao   idp_log  idp_lag1  idp_lag2
Date
2024-08-01  63901.3      IDP     63.9013  4.157340   63901.3   63901.3
2024-09-01  63378.8      IDP     63.3788  4.149129   63378.8   63378.8
2024-10-01  66025.5      IDP     66.0255  4.190041   66025.5   66025.5

In [6]:
# Alterando colunas
#Além de criar novas colunas, você pode alterar os valores de uma coluna preexistente:
dados_sgs.assign(
  valor_copia     = dados_sgs["valor"],
  valor           = lambda x: np.log(x.valor), # coluna original alterada
  valor_revertido = lambda x: np.exp(x.valor)
  ).tail(3)

                valor  valor_copia  valor_revertido
Date
2024-08-01  11.065095      63901.3          63901.3
2024-09-01  11.056885      63378.8          63378.8
2024-10-01  11.097796      66025.5          66025.5

Para alterar diversas colunas com uma mesma operação 
(por exemplo, arredondar todas as colunas numéricas)
 e mantendo as demais colunas da tabela inalteradas, 
 é possível utilizar diversas abordagens de códigos.
  Talvez a forma mais simples seja utilizar a função 
  pipe() em conjunto com assign():

In [7]:
# Lista com nomes das colunas que quero arrendondar
colunas = ["Media", "Mediana", "DesvioPadrao", "Minimo", "Maximo"]
# Aplica np.round() sobre colunas do DataFrame
dados_focus.pipe(
  lambda y: y.assign(**y[colunas].applymap(np.round))
  )

/tmp/ipykernel_96463/1945371112.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  lambda y: y.assign(**y[colunas].applymap(np.round))

,Indicador,IndicadorDetalhe,Data,DataReferencia,Media,Mediana,DesvioPadrao,Minimo,Maximo,numeroRespondentes,baseCalculo
0,IGP-M,NaN,2023-02-10,2023,5.0,5.0,1.0,3.0,8.0,73,0
1,IGP-M,NaN,2023-02-10,2024,4.0,4.0,1.0,3.0,10.0,56,0
2,IGP-M,NaN,2023-02-10,2025,4.0,4.0,1.0,3.0,6.0,50,0
3,IGP-M,NaN,2023-02-10,2026,4.0,4.0,1.0,3.0,6.0,47,0
4,IGP-M,NaN,2023-02-10,2027,4.0,4.0,1.0,3.0,6.0,42,0
...,...,...,...,...,...,...,...,...,...,...,...
595,IPCA,NaN,2023-01-02,2022,6.0,6.0,0.0,6.0,6.0,40,1
596,IPCA,NaN,2023-01-02,2023,6.0,5.0,0.0,5.0,7.0,40,1
597,IPCA,NaN,2023-01-02,2024,4.0,4.0,0.0,3.0,5.0,36,1
598,IPCA,NaN,2023-01-02,2025,4.0,4.0,1.0,3.0,5.0,32,1
599,IPCA,NaN,2023-01-02,2026,4.0,4.0,1.0,3.0,5.0,31,1

In [48]:
import numpy as np
dados_sgs.assign(valor_2=dados_sgs.valor*2,
                 valor_3=dados_sgs.valor**2,
                 valor_np_raiz=np.sqrt(dados_sgs.valor),
                 valor_log= lambda x: np.log(x.valor_3),
                 valor_exp=lambda x: np.exp(x.valor/1000)
                                     
                )

,valor,valor_2,valor_3,valor_np_raiz,valor_log,valor_exp
Date,,,,,,
2021-01-01,38830.1,77660.2,1.507777e+09,197.053546,21.133902,7.306311e+16
2021-02-01,45111.8,90223.6,2.035074e+09,212.395386,21.433798,3.906662e+19
2021-03-01,46666.4,93332.8,2.177753e+09,216.024073,21.501559,1.849098e+20
2021-04-01,50173.3,100346.6,2.517360e+09,223.993973,21.646477,6.165770e+21
2021-05-01,48949.6,97899.2,2.396063e+09,221.245565,21.597093,1.813599e+21
2021-06-01,43533.0,87066.0,1.895122e+09,208.645633,21.362549,8.056412e+18
2021-07-01,46549.1,93098.2,2.166819e+09,215.752404,21.496526,1.644437e+20
2021-08-01,50691.8,101383.6,2.569659e+09,225.148396,21.667039,1.035545e+22
2021-09-01,50263.7,100527.4,2.526440e+09,224.195673,21.650077,6.749126e+21
2021-10-01,50022.6,100045.2,2.502261e+09,223.657327,21.640460,5.303214e+21
2021-11-01,52720.8,105441.6,2.779483e+09,229.610104,21.745531,7.876849e+22
2021-12-01,46440.5,92881.0,2.156720e+09,215.500580,21.491854,1.475207e+20
2022-01-01,47080.9,94161.8,2.216611e+09,216.981336,21.519245,2.798821e+20
2022-02-01,47777.3,95554.6,2.282670e+09,218.580191,21.548612,5.615879e+20
2022-03-01,45332.3,90664.6,2.055017e+09,212.913832,21.443550,4.870435e+19
2022-04-01,51768.7,103537.4,2.679998e+09,227.527361,21.709082,3.039910e+22
2022-05-01,53901.4,107802.8,2.905361e+09,232.166750,21.789823,2.564960e+23
2022-06-01,57702.0,115404.0,3.329521e+09,240.212406,21.926094,1.147256e+25
2022-07-01,57034.4,114068.8,3.252923e+09,238.818760,21.902820,5.884712e+24
2022-08-01,60576.8,121153.6,3.669549e+09,246.123546,22.023335,2.033153e+26
2022-09-01,67313.8,134627.6,4.531148e+09,259.449032,22.234241,1.714004e+29
2022-10-01,68393.6,136787.2,4.677685e+09,261.521701,22.266069,5.046184e+29
2022-11-01,69906.9,139813.8,4.886975e+09,264.399130,22.309839,2.291822e+30
2022-12-01,74606.4,149212.8,5.566115e+09,273.141721,22.439963,2.518534e+32
2023-01-01,75508.8,151017.6,5.701579e+09,274.788646,22.464009,6.209479e+32
2023-02-01,73429.1,146858.2,5.391833e+09,270.978043,22.408151,7.759843e+31
2023-03-01,77208.8,154417.6,5.961199e+09,277.864715,22.508537,3.399036e+33
2023-04-01,71005.8,142011.6,5.041824e+09,266.469135,22.341034,6.877445e+30
2023-05-01,72825.9,145651.8,5.303612e+09,269.862743,22.391654,4.245086e+31
2023-06-01,71914.9,143829.8,5.171753e+09,268.169536,22.366478,1.707042e+31
2023-07-01,71619.0,143238.0,5.129281e+09,267.617264,22.358231,1.269803e+31
2023-08-01,68619.1,137238.2,4.708581e+09,261.952477,22.272652,6.322611e+29
2023-09-01,65215.0,130430.0,4.252996e+09,255.372277,22.170890,2.101429e+28
2023-10-01,63830.4,127660.8,4.074320e+09,252.646789,22.127970,5.262480e+27
2023-11-01,63954.8,127909.6,4.090216e+09,252.892863,22.131864,5.959595e+27
2023-12-01,62441.9,124883.8,3.898991e+09,249.883773,22.083984,1.312722e+27
2024-01-01,66581.3,133162.6,4.433070e+09,258.033525,22.212358,8.239317e+28
2024-02-01,64558.6,129117.2,4.167813e+09,254.083844,22.150657,1.090043e+28
2024-03-01,64095.0,128190.0,4.108169e+09,253.169903,22.136243,6.856537e+27
2024-04-01,63246.3,126492.6,4.000094e+09,251.488171,22.109584,2.934398e+27
2024-05-01,61012.6,122025.2,3.722537e+09,247.007287,22.037671,3.143660e+26
2024-06-01,64917.9,129835.8,4.214334e+09,254.789913,22.161757,1.561298e+28
2024-07-01,65228.6,130457.2,4.254770e+09,255.398904,22.171307,2.130203e+28
2024-08-01,63901.3,127802.6,4.083376e+09,252.787065,22.130190,5.649135e+27
2024-09-01,63378.8,126757.6,4.016872e+09,251.751465,22.113769,3.350141e+27
2024-10-01,66025.5,132051.0,4.359367e+09,256.954276,22.195593,4.726181e+28

Para alterar diversas colunas com uma mesma operação (por exemplo, 
arredondar todas as colunas numéricas) e mantendo as demais colunas da tabela inalteradas,
 é possível utilizar diversas abordagens de códigos. Talvez a forma mais simples seja utilizar a função pipe() em conjunto com assign():

In [26]:
# Lista com nomes das colunas que quero arrendondar
colunas = ["Media", "Mediana", "DesvioPadrao", "Minimo", "Maximo"]
# Aplica np.round() sobre colunas do DataFrame
dados_focus.pipe(
  lambda y: y.assign(**y[colunas].map(np.round))
  )

,Indicador,IndicadorDetalhe,Data,DataReferencia,Media,Mediana,DesvioPadrao,Minimo,Maximo,numeroRespondentes,baseCalculo
0,IGP-M,NaN,2023-02-10,2023,5.0,5.0,1.0,3.0,8.0,73,0
1,IGP-M,NaN,2023-02-10,2024,4.0,4.0,1.0,3.0,10.0,56,0
2,IGP-M,NaN,2023-02-10,2025,4.0,4.0,1.0,3.0,6.0,50,0
3,IGP-M,NaN,2023-02-10,2026,4.0,4.0,1.0,3.0,6.0,47,0
4,IGP-M,NaN,2023-02-10,2027,4.0,4.0,1.0,3.0,6.0,42,0
...,...,...,...,...,...,...,...,...,...,...,...
595,IPCA,NaN,2023-01-02,2022,6.0,6.0,0.0,6.0,6.0,40,1
596,IPCA,NaN,2023-01-02,2023,6.0,5.0,0.0,5.0,7.0,40,1
597,IPCA,NaN,2023-01-02,2024,4.0,4.0,0.0,3.0,5.0,36,1
598,IPCA,NaN,2023-01-02,2025,4.0,4.0,1.0,3.0,5.0,32,1
599,IPCA,NaN,2023-01-02,2026,4.0,4.0,1.0,3.0,5.0,31,1

Exemplo de Usar a Função Lambda

In [ ]:
#Funções que precisam do **
#Essas funções aceitam argumentos nomeados (keyword arguments). 
# O ** desempacota um dicionário para fornecer esses argumentos.


# Criando um dicionário dinâmico para várias colunas
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})

# Criar um dicionário de novas colunas
novas_colunas = {'C': df['A'] + df['B'], 'D': df['B'] * 2,'E':np.exp(df['A']),'F':np.log(df['B'])}
df=df.assign(**novas_colunas)
df

   A  B  C  D         E         F
0  1  3  4  6  2.718282  1.098612
1  2  4  6  8  7.389056  1.386294

In [22]:
#Exemplo 2: str.format() com placeholders dinâmicos
valores = {'nome': 'Maria', 'idade': 25}

# Usando ** para passar os valores
mensagem = "Olá, meu nome é {nome} e tenho {idade} anos.".format(**valores)
#mensagem=f'Olá, meu nome é {nome} e tenho {idade} anos.'    ''''It will go wrong'''
print(mensagem)

Olá, meu nome é Maria e tenho 25 anos.

Essas funções geralmente trabalham diretamente com objetos como listas, DataFrames ou Series e não exigem argumentos nomeados.

Exemplo 1: Aplicar uma função diretamente em colunas do DataFrame

In [25]:
import numpy as np

# DataFrame exemplo
df = pd.DataFrame({'A': [1.5, 2.7], 'B': [3.1, 4.8]})

# Aplicando np.round diretamente
df[['A', 'B']] = df[['A', 'B']].map(np.round)
df

     A    B
0  2.0  3.0
1  3.0  5.0

Resumo
Precisa de **: Quando a função espera argumentos nomeados.
Exemplos: .assign(), str.format(), funções que explicitamente usam **kwargs.
Não precisa de **: Quando a função lida diretamente com objetos como listas, Series ou DataFrames.
Exemplos: .applymap(), .apply(), criação direta de objetos como DataFrame.