In [6]:
# Importar bibliotecas
import pandas as pd
from bcb import sgs
# Dados do IDP/BP - acum. 12m - US$ (milhões) (SGS/BCB)
dados_sgs = sgs.get(codes = {'coluna1':24422}, start = "2021-01-01", end = "2024-11-01")
# Dados de expectativas do IPCA (Focus/BCB)
dados_focus = pd.read_csv(
  filepath_or_buffer = "https://olinda.bcb.gov.br/olinda/servico/Expectativas/versao/v1/odata/ExpectativasMercadoAnuais?%24filter=%28Indicador%20eq%20%27IPCA%27%20or%20Indicador%20eq%20%27IGP-M%27%29%20and%20Data%20ge%20%272023-01-01%27%20and%20Data%20le%20%272023-02-12%27&%24format=text/csv&%24orderby=Data%20desc",
  decimal = ","
  )
# Exibe dados (omitido)
dados_sgs.tail()

            coluna1
Date
2024-06-01  64917.9
2024-07-01  65228.6
2024-08-01  63901.3
2024-09-01  63378.8
2024-10-01  66025.5

Para renomear colunas usamos a função rename() através da sintaxe tabela.rename(columns = {"nome_anterior": "novo_nome"). Por exemplo, para renomear uma única coluna:

In [11]:
dados_sgs.rename(columns={'coluna1':'idp'}).tail(3)

                idp
Date
2024-08-01  63901.3
2024-09-01  63378.8
2024-10-01  66025.5

In [12]:
dados_focus.tail(3)

,Indicador,IndicadorDetalhe,Data,DataReferencia,Media,Mediana,DesvioPadrao,Minimo,Maximo,numeroRespondentes,baseCalculo
597,IPCA,NaN,2023-01-02,2024,3.8155,3.8448,0.4013,3.0,5.0,36,1
598,IPCA,NaN,2023-01-02,2025,3.5731,3.5000,0.5140,3.0,5.0,32,1
599,IPCA,NaN,2023-01-02,2026,3.5401,3.5000,0.5367,3.0,5.0,31,1

In [13]:
dados_focus.rename(columns={'Indicador':'Ind','Data':'Date'})

,Ind,IndicadorDetalhe,Date,DataReferencia,Media,Mediana,DesvioPadrao,Minimo,Maximo,numeroRespondentes,baseCalculo
0,IGP-M,NaN,2023-02-10,2023,4.5840,4.5955,0.8950,2.6607,7.8000,73,0
1,IGP-M,NaN,2023-02-10,2024,4.3685,4.0650,1.1936,2.8000,9.9000,56,0
2,IGP-M,NaN,2023-02-10,2025,4.0136,3.9850,0.7051,3.0000,6.0000,50,0
3,IGP-M,NaN,2023-02-10,2026,3.8977,3.6000,0.6957,2.7900,5.5000,47,0
4,IGP-M,NaN,2023-02-10,2027,3.8798,3.8700,0.7446,2.5800,5.5000,42,0
...,...,...,...,...,...,...,...,...,...,...,...
595,IPCA,NaN,2023-01-02,2022,5.6676,5.6379,0.1180,5.5433,6.1636,40,1
596,IPCA,NaN,2023-01-02,2023,5.5072,5.4631,0.4784,4.5197,6.9300,40,1
597,IPCA,NaN,2023-01-02,2024,3.8155,3.8448,0.4013,3.0000,5.0000,36,1
598,IPCA,NaN,2023-01-02,2025,3.5731,3.5000,0.5140,3.0000,5.0000,32,1
599,IPCA,NaN,2023-01-02,2026,3.5401,3.5000,0.5367,3.0000,5.0000,31,1

In [15]:
# Renomeando todas as colunas com um vetor
dados_focus.set_axis(
  labels = ["indicador", "indic_detalhe", "data", "data_ref", "Media", "Mediana", "DP", "min", "max", "n_respondentes", "base_calc"], 
  axis = "columns"
  ).tail()

,indicador,indic_detalhe,data,data_ref,Media,Mediana,DP,min,max,n_respondentes,base_calc
595,IPCA,NaN,2023-01-02,2022,5.6676,5.6379,0.1180,5.5433,6.1636,40,1
596,IPCA,NaN,2023-01-02,2023,5.5072,5.4631,0.4784,4.5197,6.9300,40,1
597,IPCA,NaN,2023-01-02,2024,3.8155,3.8448,0.4013,3.0000,5.0000,36,1
598,IPCA,NaN,2023-01-02,2025,3.5731,3.5000,0.5140,3.0000,5.0000,32,1
599,IPCA,NaN,2023-01-02,2026,3.5401,3.5000,0.5367,3.0000,5.0000,31,1

Uma dica bastante útil para quando você tiver nomes de colunas mal formatados ou pouco 
convencionais: use a biblioteca pyjanitor para converter e limpar, com algumas convenções 
e boas práticas, todos os nomes de colunas automaticamente:

In [18]:
import janitor 
#import janitor #!pip install pyjanitor
dados_focus.clean_names()

,indicador,indicadordetalhe,data,datareferencia,media,mediana,desviopadrao,minimo,maximo,numerorespondentes,basecalculo
0,IGP-M,NaN,2023-02-10,2023,4.5840,4.5955,0.8950,2.6607,7.8000,73,0
1,IGP-M,NaN,2023-02-10,2024,4.3685,4.0650,1.1936,2.8000,9.9000,56,0
2,IGP-M,NaN,2023-02-10,2025,4.0136,3.9850,0.7051,3.0000,6.0000,50,0
3,IGP-M,NaN,2023-02-10,2026,3.8977,3.6000,0.6957,2.7900,5.5000,47,0
4,IGP-M,NaN,2023-02-10,2027,3.8798,3.8700,0.7446,2.5800,5.5000,42,0
...,...,...,...,...,...,...,...,...,...,...,...
595,IPCA,NaN,2023-01-02,2022,5.6676,5.6379,0.1180,5.5433,6.1636,40,1
596,IPCA,NaN,2023-01-02,2023,5.5072,5.4631,0.4784,4.5197,6.9300,40,1
597,IPCA,NaN,2023-01-02,2024,3.8155,3.8448,0.4013,3.0000,5.0000,36,1
598,IPCA,NaN,2023-01-02,2025,3.5731,3.5000,0.5140,3.0000,5.0000,32,1
599,IPCA,NaN,2023-01-02,2026,3.5401,3.5000,0.5367,3.0000,5.0000,31,1